name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, beta, nightly]
    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true

    - name: Build
      run: cargo build --verbose

    - name: Run Tests
      run: cargo test --verbose

    - name: Run Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings

    - name: Format Check
      run: cargo fmt -- --check

    - name: Check package contents
      run: cargo package --allow-dirty
